.body{
background: black;
}

.headers{
    color: white;
    padding: 20px;
}

#h3{
    display: inline-block;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.buttons{
    display: flex;
    gap:15px;
   
    padding: 20px;
}

.buttons button{
    height: 40px;
    width: 120px;
    border-color: white;
    cursor: pointer;
}

#clear{
    border-color: white;
    color:white;
    background-color: black;
}